<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
    <span th:replace="home :: bootstrapImports"></span>
</head>
<body>
<span th:replace="home :: navBar"></span>
<div class="container mt-5">
    <h1 class="mb-4">Items</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Fourniture</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cartitem : ${cartItems}">
            <td th:text="${cartitem.id}">Id</td>
            <td th:text="${cartitem.getFurniture().name + ' ' + cartitem.getFurniture().id}">Name</td>
            <td th:text="${cartitem.quantity}">Quantity</td>
            <td>
                <a th:href="@{'/cartItem/remove?id=' + ${cartitem.id}}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
