<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <span th:replace="~{home :: bootstrapImports}"></span>
</head>
<body>
<div th:replace="~{home :: navBar}"></div>
<div class="container mt-5">
    <h1 class="mb-4">Student Form</h1>

    <form method="post"
          th:action="${student.studentId == 0} ? @{/student/add} : @{'/student/edit/' + ${student.studentId}}"
          th:object="${student}">
        <input type="hidden" th:field="*{studentId}">
        <div class="mb-3">
            <label for="studentFirstName" class="form-label">First Name</label>
            <input id="studentFirstName" class="form-control" th:field="*{studentFirstName}" type="text" required>
            <span th:if="${#fields.hasErrors('studentFirstName')}" th:errors="*{studentFirstName}"></span>
        </div>
        <div class="mb-3">
            <label for="studentLastName" class="form-label">Last Name</label>
            <input id="studentLastName" class="form-control" th:field="*{studentLastName}" type="text" required>
            <span th:if="${#fields.hasErrors('studentLastName')}" th:errors="*{studentLastName}"></span>
        </div>
        <div class="mb-3">
            <label for="studentEmail" class="form-label">Email</label>
            <input id="studentEmail" class="form-control" th:field="*{studentEmail}" type="email" required>
            <span th:if="${#fields.hasErrors('studentEmail')}" th:errors="*{studentEmail}"></span>
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>
