<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<!--  Si todos est vide afficher vide , unless afficher la list avec for  -->
    <h1>Todo List</h1>
     <p th:if="${todos.isEmpty()}" > List de Todo vide </p>
    <ul th:unless="${todos.isEmpty()}">
        <li th:each="todo : ${todos}" >
            <p th:text="${todo.title}"></p>
            <p th:text="${todo.description}"></p>
            <p th:text="${todo.done}"></p>
        </li>

    </ul>
</body>
</html>